<?xml version="1.0"?>

<model>
  <name>bearyx_world</name>
  <version>2.0</version>
  <sdf version="1.4">world_model-1_4.sdf</sdf>
  <sdf version="1.5">world_model.sdf</sdf>

  <author>
    <name>Taehun Lim(Darby)</name>
    <email>thlim@robotis.com</email>
  </author>

  <description>
    World of beary-X with ROS symbol
  </description>
</model>
